{% extends 'base/base.html' %}
{% block title %}ForeverYang{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="d-none d-lg-flex col-lg-3 flex-column flex-shrink-0 p-3 bg-body-tertiary vh-100 sticky-top"
                     style="width: 280px;">
                    <a href="/"
                       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <span class="fs-4">更多</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">
                                首页
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                博客
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                图片
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                视频
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                音乐
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                        <a href="#"
                           class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'pic/PIA14935~orig.jpg' %}" alt="" width="32" height="32"
                                 class="rounded-circle me-2">
                            <strong>Cr1styang</strong>
                        </a>
                        <ul class="dropdown-menu text-small shadow">
                            <li><a class="dropdown-item" href="#">个人主页</a></li>
                            <li><a class="dropdown-item" href="#">我的博客</a></li>
                            <li><a class="dropdown-item" href="#">每日推荐</a></li>
                            <li>stretched-link
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">退出登录</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-12 p-0 ms-2">
                    {% for blog in blogs %}
                        <div class="col-12">
                            <div class="g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative bg-light">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <h3 class="mb-0">{{ blog.title }}</h3>
                                    <div class="mb-1 text-muted">{{ blog.pub_date|date:"m月d日" }}</div>
                                    <p class="card-text mb-auto">{{ blog.content|striptags|truncatechars:50 }}</p>
                                    <strong class="d-inline-block mb-2 text-primary">#{{ blog.category.name }}</strong>
                                    <a href="{% url 'blog:blog_detail' blog_id=blog.id %}"
                                       class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-auto">

                </div>
            </div>
        </div>

    </section>
{% endblock %}