{% extends 'base/base.html' %}
{% block title %}博客首页{% endblock %}
{% block head %}
    <style>
        a {
            text-decoration: none;
            color: inherit;
        }
    </style>
{% endblock %}
{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="d-none d-lg-flex col-lg-3 flex-column flex-shrink-0 p-3 bg-body-tertiary vh-100 sticky-top"
                     style="width: 280px;">
                    <a href="/"
                       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <span class="fs-4">更多</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="{% url 'aboutMe:Me' %}" class="nav-link link-body-emphasis" aria-current="page">
                                首页
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link active">
                                博客
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                阅读
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                宇宙
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                专辑
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                        {% if user.is_authenticated %}
                            <a href="#"
                               class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <strong>{% if user.is_authenticated %}{{ user.username }}{% else %}
                                    未登录{% endif %}</strong>
                            </a>
                            <ul class="dropdown-menu text-small shadow">
                                <li><a class="dropdown-item" href="#">每日推荐</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">退出登录</a></li>
                            </ul>
                        {% else %}
                            <ul class="dropdown-menu text-small shadow">
                                <li><a class="dropdown-item" href="{% url 'blauth:bllogin' %}">登录</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'blauth:register' %}">注册</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-8 col-12 p-0 ms-2 mt-2">
                    {% for blog in blogs %}
                        <div class="col-12">
                            <div class="g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative bg-light">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <h3 class="mb-0">{{ blog.title }}</h3>
                                    <div class="mb-1 text-muted">{{ blog.pub_date|date:"m月d日" }}</div>
                                    <p class="card-text mb-auto">{{ blog.content|striptags|truncatechars:50 }}</p>
                                    <strong class="d-inline-block mb-2 text-primary">#{{ blog.category.name }}</strong>
                                    <a href="{% url 'blog:blog_detail' blog_id=blog.id %}"
                                       class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-auto">

                </div>
            </div>
        </div>

    </section>

    <section>
        <div class="container my-3 d-flex justify-content-center">
            <div class="row">
                <div class="g-2">
                    {#  检测是否有前页   #}
                    {% if blogs.has_previous %}
                        <a href="?page=1">
                            <button type="button" class="btn btn-info">第一页</button>
                        </a>
                        <a href="?page={{ blogs.previous_page_number }}">
                            <button type="button"
                                    class="btn btn-info">前页
                            </button>
                        </a>
                    {% endif %}
                    {#  翻页  #}
                    {% for i in pages %}
                        {% if i == blogs.number %}
                            <a href="?page={{ i }}">
                                <button type="button" class="btn btn-primary">{{ i }}</button>
                            </a>
                        {% else %}
                            <a href="?page={{ i }}">
                                <button type="button" class="btn btn-secondary">{{ i }}</button>
                            </a>
                        {% endif %}
                    {% endfor %}
                    {#  检测是否有后页   #}
                    {% if blogs.has_next %}
                        <a href="?page={{ blogs.next_page_number }}">
                            <button type="button" class="btn btn-info">后页</button>
                        </a>
                        <a href="?page={{ blogs.paginator.num_pages }}">
                            <button type="button" class="btn btn-info">最后</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>


    </section>

{% endblock %}