{% extends 'base/base.html' %}
{% block title %}摄影集{% endblock %}
{% block head %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.8.1/css/justifiedGallery.min.css">

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />

{% endblock %}
{% block content %}
    <h1 class="visually-hidden">Cristwhy`Photos</h1>
    <main>
        <div id="myGallery">
            {% for img in imgs %}
                <a href="{% static '/photo/' %}{{ img.icon }}" data-fancybox="gallery" data-caption="{{ img.id }}">
                    <img src="{% static '/photo/' %}{{ img.icon }}" alt="摄于 {{ img.place }}">
                </a>
            {% endfor %}
        </div>
    </main>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.8.1/js/jquery.justifiedGallery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script>
        $(document).ready(function () {
            $("#myGallery").justifiedGallery({
                rowHeight: 300,
                margins: 5,
                lastRow: 'center',
            });
        });
        Fancybox.bind("[data-fancybox]", {
            hideScrollbar: false,
            // Your custom options
        });
    </script>
{% endblock %}